@import url('https://fonts.googleapis.com/css2? family= Oswald & family = Roboto:wght@100;300;500;700 & display=swap');
    
*{
    font-family: 'Bold', sans-serif;
}

body {
    background-color: rgb(22, 21, 21);
    color: white;
    font-weight: 800;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

#info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.info-item {
    background-color: #e4ebe5;
    width: 100%;
    border-radius: 10px;
    color: black;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.info-item p {
    margin: 10px 0;
}

.butoes-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
}

.butao-garantia a [type=button] {
  
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #22a55d;
}

.butao-garantia:hover a [type=button]{
    background-color: #163b29;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#search-input{
    height: 30px;
    border: none;
    border-radius: 5px;
}
#search-button{
    height: 30px;
    border-radius: 5px;
    background-color: #22a55d;
    cursor: pointer;
    color: white;
    border: none;
}
#load-more{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 5px;
    background-color: #22a55d;
    cursor: pointer;
    color: white;
    border: none;
    width: 100%;
}
/* Responsivo */
@media (max-width: 1200px) {
    #info {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 768px) {
    #info {
        grid-template-columns: 1fr;
    }
    .butoes-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
    }
}

@media (max-width: 565px) {
    #info {
        grid-template-columns: 1fr;
        padding: 10px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .butoes-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
    }
   
}