@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
margin: 0;
margin: 0;
padding: 0;
box-sizing: border-box;
}

.group{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#24221F;

}

.group h3{
    color: #D4CCB6;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
    
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    
}



.ordem-servico input{
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    
}

.garantia input{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;

}

.consultas input{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}


