@import url('https://fonts.googleapis.com/css2? family= Oswald & family = Roboto:wght@100;300;500;700 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
margin: 0;
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Bold', sans-serif;

}

.pai{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
     
}

.ordem-servico {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 500px;
    border-radius: 5px;
    background-color: #24221F;
}

.ordem-servico h3{
    color: #D4CCB6;
    font-size: 23px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 10px;
}

label{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #D4CCB6;
}

.campos .name label{
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }

.campos .name input{
    margin-top: 5px;
    width: 300px;
    height: 50px;
    padding-inline-start: 30px;
    border: none;
    outline-color: #04D361;
    border-radius: 5px;
}

.campos .telefone label{
  display: flex;
  margin-top: 10px;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}
 
.campos .telefone input{
    margin-top: 5px;
    width: 300px;
    height: 50px;
    padding-inline-start: 30px;
    border: none;
    border-radius: 5px;
    outline-color: #04D361;
}

.campos .endereco label{
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.campos .endereco input{
    margin-top: 5px;
    width: 300px;
    height: 50px;
    padding-inline-start: 30px;
    border: none;
    border-radius: 5px;
    outline-color: #04D361;
}

.campos .bairro label{
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.campos .bairro input{
    margin-top: 5px;
    width: 300px;
    height: 50px;
    padding-inline-start: 30px;
    border: none;
    border-radius: 5px;
    outline-color: #04D361;
}

.campos .date label{
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }

.campos .date input{
   margin-top: 5px;
   padding: 10px;
   font-size: 15px;
    border: none;
    border-radius: 5px;
    outline-color: #04D361;
}

.campos .aparelho label{
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.campos .aparelho input{
    margin-top: 5px;
    width: 300px;
    height: 40px;
    padding-inline-start: 30px;
    border: none;
    border-radius: 5px;
    outline-color: #04D361;
}

.campos .reclamacoes label{
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.campos .observacoes label{
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.campos textarea{
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 100px;
    padding-inline-start: 30px;
    outline-color: #04D361;

}
 .valor label{
    display: flex;
    margin-top: 10px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
 }   

 .valor input{
    margin-top: 5px;
    width: 300px;
    height: 50px;
    padding-inline-start: 30px;
    border: none;
    border-radius: 5px;
    outline-color: #04D361;
}

.butao input{
    width: 300px;
    height: 40px;  
    background-color:#04D361;
    border: none;  
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
}

